# Arquivos de compilação C/C++
*.o
*.d
*.exe

# Arquivos temporários e backups de editores
*~
*.bak
*.swp
*.swo

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs comuns (adicione outros se usar)
.vscode/

# Core dump files
core.*
core
